@use '../abstracts' as a;

// * {
//     border: 1px solid;
// }

body {
    color: a.$primary-color;
}

#hero-section {
    position: relative;
    height: 460px;
    margin: 80px 0;
    background-color: a.$secondary-color;
    z-index: 5;
    box-shadow: 0 40px 40px a.$light-highlight-color;
}

#name-main {
    font-size: 90px;
    font-weight: 900;
    padding-top: 40px;
    text-align: center;
    position: relative;
    top: 0;
    left: auto;
}

#lname-main {
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: 40px;
    background-color: a.$secondary-color;
    padding: 40px;
}

.slider-con {
    position: relative;
    top: 20px;
    background-color: a.$secondary-color;
    transform: rotate(-5deg);
}

.slider {
    position: absolute;
    white-space: nowrap;
    display: flex;
}

.slider p {
    margin: 0px;
    font-size: 60px;
    font-weight: a.$semibold-font-weight;
    padding: 45px 0px 45px 35px;
    background-color: a.$secondary-color;
    box-shadow: 40px 20px 40px a.$light-highlight-color;
}

.slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
}

.hero-text-con {
    position: relative;
    top: 0;
    height: 500px;
    font-size: a.$base-font-size;
    line-height: 28px;
}

.hero-text-con-1 {
    position: relative;
    height: 20px;
    top: 70px;
    left: 0;
    width: 100%;
}

.hero-text-con-1 p:first-child {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 20px;
}

.hero-text-con-1 p:nth-child(2) {
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 20px;
}

.hero-text-con-1 p:last-child {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 20px;
}

.hero-text-section .arrow-down {
    position: relative;
    top: -530px;
    margin: 0 auto;
    padding: 0;
} 

#work-section {
    background-color: a.$primary-color;
    color: a.$secondary-color;
    padding-top: 60px;
    padding-bottom: 120px;
    margin-bottom: 160px;
    margin-top: 380px;
    position: relative;
    box-shadow: 0 40px 40px a.$light-highlight-color;
    z-index: 2;
}

#work-section video {
    width: 100%;
}

#logo-icon-ca {
    margin: 60px auto;
    max-width: 180px;
    min-width: 130px;
}

.titles-main {
    margin: 60px 0 120px;
    text-align: center;
    font-size: a.$huge-font-size;
    font-weight: a.$light-font-weight;
}

.main-work-title {
    font-size: a.$huge-font-size;
    font-weight: a.$light-font-weight;
    line-height: 70px;
}

#studyCases-main {
    height: 120px;
    align-content: center;
}

#projects-section {
    margin: 100px 20px;
}

.arrow-down {
    margin: auto;
    max-height: 70px;
    margin-bottom: 60px;
}

.arrow-left-right {
    max-width: 320px;
    margin: 40px auto;
}

.text-goal p {
    margin-bottom: 50px;
}

.text-project div {
    margin-bottom: 50px;
}

#ref-main {
    margin: 0px 20px;
    line-height: 20px;
    position: relative;
    background-color: a.$secondary-color;
    z-index: 1;
}

#ref-main div {
    margin-bottom: 50px;
}

.ref-name {
    margin-top: 8px;
    font-size: a.$small-font-size;
    font-weight: a.$semibold-font-weight;
}

.ref-title {
    margin-left: 8px;
    font-size: a.$tiny-font-size;
    font-weight: a.$regular-font-weight;
}

@media screen and (min-width: 768px) {

    #hero-section {
        margin: 140px auto 150px;
        position: relative;
        height: 380px;
    }
    
    #name-main {
        font-size: 220px;
        font-weight: 700;
        text-align: center;
        position: relative;
        top: -80px;
        left: auto;
        background-color: a.$secondary-color;
        padding: 80px;
    }
    
    #lname-main {
        font-size: 220px;
        font-weight: 700;
        text-align: center;
        position: relative;
        top: -80px;
        background-color: a.$secondary-color;
        padding: 80px;
    }

    .slider-con {
        position: relative;
        top: -90px;
        background-color: a.$secondary-color;
        transform: rotate(-5deg);
    }

    .slider p {
        margin: 0px;
        font-size: 100px;
        font-weight: a.$semibold-font-weight;
        padding: 45px 0px 45px 35px;
        background-color: a.$secondary-color;
        box-shadow: 40px 20px 40px a.$light-highlight-color;
    }

    .slider p {
        margin: 0px;
        font-size: 60px;
        font-weight: a.$semibold-font-weight;
        padding: 45px 0px 45px 35px;
        background-color: a.$secondary-color;
        box-shadow: 40px 20px 40px a.$light-highlight-color;
    }

    .hero-text-con {
        position: absolute;
        top: 0;
        height: 2000px;
        font-size: a.$big-font-size;
        line-height: 28px;
    }

    .hero-text-con-1 p:first-child {
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .hero-text-con-1 p:nth-child(2) {
        margin-top: 60px;
        margin-left: 0px;
    }
    
    .hero-text-con-1 p:last-child {
        margin-top: 60px;
        margin-left: 160px;
    }

    .hero-text-section .arrow-down {
        position: inherit;
        margin: 40px 0;
        padding: 0;
    } 

    #logo-icon-ca {
        margin: auto;
    }

    #arrow-down {
        margin: 0;
    }

    #projects-section {
        margin: 100px auto;
    }

    #work-section {
        padding-bottom: 120px;
    }

    .text-goal p {
        font-size: a.$small-font-size;
        margin-bottom: 50px;
        padding-right: 40px;
    }
}